<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- EpisoPass利用画面 -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="EpisoPass">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="icon" type="image/png" href="data:image/png;base64,<%= Base64.encode64(File.read('src/favicon.png')).gsub("\n",'') %>">
    <title>EpisoPass</title>
    <style type="text/css">
    body {
      background-color: #fff;
    }
    div {
      font-family: sans-serif;
    }
    span {
      font-family: sans-serif;
    }
    </style>

    <script type="text/javascript">
      const data = <%= data.to_json %>; // REPLACE_THIS_LINE
      var exports = {};
    </script>
    <script type="text/javascript"><%= File.read('src/jquery.js') %></script>
    <script type="text/javascript"><%= File.read('src/episodas.js') %></script>
    <script type="text/javascript"><%= File.read('src/md5.js') %></script>
    <script type="text/javascript"><%= File.read('src/crypt.js') %></script>
    <script type="text/javascript">
      $(function() {
        episodas = exports.episodas;
        episodas(data);
      });
    </script>
  </head>
  <body>
    <div id="das">
    </div>
  </body>
</html>
